/*stili generali di pagina*/


body{
    padding-top: 60px;
}

li{
    list-style: none;
}

.row{
    --bs-gutter-x: 0;
}

/*stili navbar*/

.ms-bg-searchbar{
    background-color:#e5e4e4 ;
}

.ms-nav-container{
    background-color: #f9f9fb;
    min-height: 60px;
    align-items: center;
}

.ms-bell-color{
    color: #ff8f00;
}

.ms-nav-buttons{
    display: flex;
    justify-content: space-around;
    color: #5b5959;
}

/*stili sidebar*/

.ms-bg-sidebar{
    height: calc(100vh - 60px);
    background-image: url(img/sidebar-bg.png);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #041f34;
}

.ms-height{
    height: 100%;
}

/*stili breadcrump section*/

.ms-bg-breadcrump{
    background-color: #1a72e9;
    min-height: 100px;
}

.ms-bc-decoration{
    background-color:#175aba;
    border: 1px solid #175aba;
    padding: 2px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.ms-fs-add{
    font-size: 40px;
}

/*stili main content*/

.box-title{
    width: 100%;
    margin-left: 10px;
    background-color: #f7f6f6;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: 0;
}


.ms-table-icon{
    background-color: #f36451;
    color: white;
    padding: 5px;
    border: 1px solid #f36451;
    border-radius: 50%;
}


.ms-table-status-true{
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.ms-table-status-false{
    background-color: red;
    border-color: red;
}

.ms-table-status-none{
    background-color: orange;
    border-color: orange;
}

.ms-icon-style{
    font-size: 20px;
    margin: 5px;
    border: grey 2px solid;
    padding: 5px;
    border-radius: 5px;
    color: grey;
}

.ms-main-margin{
    margin-left: 10px;
}

.ms-checklist-style{
    margin-left: 10px;
    border: 1px  solid rgb(194, 194, 194);
    margin-top: -10px;
    border-radius: 5px;
}

.form-check{
    border-bottom: 1px solid gray;
}

.ms-chart-style{
    border: 1px solid  rgb(194, 194, 194);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
}

.ms-label-title{
    border-bottom: 1px solid rgb(194, 194, 194);
    background-color:#f7f6f6 ;
    padding: 10px;
}

.card{
    padding: 5px;
    border: 1px solid rgb(194, 194, 194);
    margin: 10px;
}

.ms-todo-style{
    margin: 10px; 
}

.card-img-top{
    min-height: 350px;
}