/*stili generali di pagina*/


body{
    padding-top: 60px;
}

li{
    list-style: none;
}

.row{
    --bs-gutter-x: 0;
}

/*stili navbar*/

.ms-bg-searchbar{
    background-color:#e5e4e4 ;
}

.ms-nav-container{
    background-color: #f9f9fb;
    min-height: 60px;
    align-items: center;
}

.ms-bell-color{
    color: #ff8f00;
}

.ms-nav-buttons{
    display: flex;
    justify-content: space-around;
    color: #5b5959;
}

/*stili sidebar*/

.ms-bg-sidebar{
    height: calc(100vh - 60px);
    background-image: url(img/sidebar-bg.png);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #041f34;
}

.ms-height{
    height: 100%;
}

/*stili breadcrump section*/

.ms-bg-breadcrump{
    background-color: #1a72e9;
    min-height: 100px;
}

.ms-bc-decoration{
    background-color:#175aba;
    border: 1px solid #175aba;
    padding: 2px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.ms-fs-add{
    font-size: 40px;
}

.ms-larghezza{
width: 50%;
}
