/*stili generali di pagina*/


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*stili navbar*/

.ms-bg-searchbar{
    background-color:#e5e4e4 ;
}

.ms-nav-container{
    background-color: #f9f9fb;
    min-height: 60px;
    align-items: center;
}

.ms-bell-color{
    color: #ff8f00;
}

.ms-nav-buttons{
    display: flex;
    justify-content: space-around;
    color: #5b5959;
}

/*stili sidebar*/

.ms-bg-sidebar{
    background-color: blue;
    height: 100%;
}